name: '[NuGet.org] Publish Blazor components packages'

on:
  workflow_dispatch
  
jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    # must run in every workflows
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: ./.github/actions/dotnet-setup
          
    - name: Publish packages
      uses: ./.github/actions/publish-nuget
      with:
        token: ${{ secrets.NUGET_API_KEY }}
        projects: |
          [
            "src/Blazor/Blazor.csproj",
            "src/Blazor.MudBlazor.Extra/Blazor.MudBlazor.Extra.csproj",
            "src/Blazor.FluentBlazor.Extra/Blazor.FluentBlazor.Extra.csproj"
          ]
        working-dir: ./src/blazor
